@import '@styles/animation.scss';
@import '@styles/text.scss';

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;

  button {
    padding-top: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--text-main-color);
    &:hover {
      svg {
        filter: drop-shadow(1px 1px 2px);
      }
    }
  }
  &__item {
    &_clicked {
      animation: rotate 0.5s normal linear;
    }
  }
}
