@import '../../../styles/animation.scss';

.card {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 0.3s;
  background-color: var(--background-color);
  overflow: hidden;
  height: calc(var(--card-height) + 50px);
  width: 450px;
  color: var(--text-main-color);
  grid-column: span 5;
  &__image {
    width: 100%;
    img {
      width: 100%;
      height: var(--card-height);
      object-fit: cover;
    }
    &_suggested {
      color: var(--border-color);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
      border: 2px solid;
      opacity: 0;
      z-index: 90;
      padding: 20px;
      cursor: pointer;
      transition: 0.3s;
      width: 10px;
      text-align: center;
    }

    &:hover &_suggested {
      opacity: 1;
      width: 70%;
      transform: translate(-50%, -60%);
    }
    &:hover img {
      filter: brightness(0.3);
    }
  }
  &__info {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 20px;
  }
  &__del_button {
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover {
      background-color: var(--background-color);
    }
  }
  &_deleted {
    animation: fade_out 0.5s ease-in-out forwards;
  }
}
