.card {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px map-get($color, 'border') solid;
  transition: 0.3s;
  background-color: map-get($color, 'secondary');
  overflow: hidden;
  height: calc(map-get($height, 'card') + 50px);
  &__image {
    width: 100%;
    img {
      width: 100%;
      height: map-get($height, 'card');
      object-fit: cover;
    }
    &_suggested {
      color: map-get($color, 'border');
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
      border: 2px solid;
      opacity: 0;
      z-index: 90;
      padding: 20px;
      cursor: pointer;
      transition: 0.3s;
      width: 10px;
      text-align: center;
    }

    &:hover &_suggested {
      opacity: 1;
      width: 70%;
      transform: translate(-50%, -60%);
    }
    &:hover img {
      filter: brightness(0.3);
    }
  }
  &__info {
    width: 98%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__break {
    height: 0;
    flex-basis: 100%;
  }
  &__name {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__del_button {
    background-color: map-get($color, 'dark');
    border-radius: 60%;
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover {
      background-color: map-get($color, 'secondary');
    }
  }
  &_deleted {
    animation: fadeOut 0.5s ease-in-out forwards;
  }
}
