@import '../../styles/animation.scss';
.tree_view {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &__root {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease-in-out;
    &_opened {
      animation: open_box 2s ease-in-out forwards;
    }
  }
  &__lable {
    width: 100%;
    cursor: pointer;
  }
}
