@import '@styles/animation.scss';
.protected_content {
  background-color: var(--background-color);
  color: var(--text-main-color);
  margin-inline: auto;
  width: 100%;
  position: relative;
  transition: 0.5s ease;
  height: 100vh;
  min-height: 80vh;
  min-width: 380px;
  &__loading {
    margin-top: 300px;
    margin-inline: auto;
  }
}
