.chat_box {
  display: flex;
  font-weight: 400;
  width: 100%;
  &__wrapper {
    background-color: var(--content-color) !important;
    position: absolute;
    bottom: 45px;
    top: 120px;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-anchor: none;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__taskbar {
    font-size: 1.3em;
    display: flex;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: var(--content-color);
    gap: 10px;
    padding-top: 10px;
    height: 50px;
    padding-left: 15px;
  }
  &__message {
    color: white;
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    padding-block: 3px;
    p {
      font-size: 1.1em;
      max-width: 80%;
      padding: 10px;
      border-radius: 10px;
      word-break: break-all;
      &[type='date'] {
        margin-top: 1px;
        font-size: 0.8em;
        padding: 3px;
        border-radius: 5px;
        background-color: transparent;
        color: var(--text-main-color);
      }
    }
    &_send {
      display: flex;
      p {
        background-color: var(--border-color);
        align-self: flex-end;
      }
    }
    &_receive {
      display: flex;
      p {
        background-color: var(--main-color);
        align-self: flex-start;
      }
    }
  }

  &__text_box {
    margin-bottom: 5px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    button {
      width: 50px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--border-color);
      background-color: var(--content-color);
      border-radius: 10px;
      color: var(--text-main-color);
      cursor: pointer;
      &:hover {
        background-color: var(--border-color);
        svg {
          color: white;
        }
      }
    }
    input {
      color: var(--text-main-color);
      background-color: var(--background-color);
      margin-inline: 10px;
      border: 2px solid var(--border-color);
      border-radius: 15px;
      &:focus {
        outline: none;
      }
      font-size: 1.1em;
      padding: 10px;
      flex-grow: 1;
    }
  }
}
