.content {
  background-color: var(--content-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(var(--header-height) + 15px);
  padding-bottom: calc(var(--footer-height) + 10px);
  margin-inline: auto;
  width: 100%;
  position: relative;
}
