.chat-box {
  display: flex;
  font-weight: 400;
  width: 100%;
  flex-direction: column;
  position: relative;
  height: 100%;
  @media screen and (max-width: 680px) {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
  &__wrapper {
    background-color: var(--background-color) !important;
    border-top: 1px solid var(--border-color);
    width: 100%;
    height: 80%;
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-anchor: none;
    padding-bottom: 30px;
    &_loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__taskbar {
    font-size: 1.3em;
    display: flex;
    top: 58.25px;
    width: 100%;
    height: 8%;
    align-items: center;
    background-color: var(--content-color);
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
  }
  &__name {
    max-width: 200px;
    font-weight: 400;
    white-space: nowrap;
  }
  &__suggest {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-wrap: nowrap;
    font-size: 0.8em;
    font-weight: 800;
  }
  &__text-box {
    background-color: var(--background-color);
    z-index: 100;
    position: relative;
    width: 100%;
    height: 9%;
    display: flex;
    border-radius: 0px 0px 15px 0px;
    overflow: hidden;
    button {
      width: 60px;
      position: absolute;
      right: 5px;
      top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent;
      background-color: var(--background-color);
      color: var(--border-color);
      cursor: pointer;
      &:hover {
        svg {
          color: var(--text-main-color);
        }
      }
    }

    &_edit {
      input {
        border: 2px solid var(--message-color) !important;
      }
      button {
        border: 2px solid var(--message-color);
        &:hover {
          background-color: var(--message-color);
        }
      }
      svg {
        color: var(--message-color);
      }
    }
    input {
      color: var(--text-main-color);
      background-color: var(--background-color);
      border: 1px solid;
      border-color: var(--border-color) transparent transparent transparent;
      font-size: 1.1em;
      padding: 10px 50px 10px 10px;
      flex-grow: 1;
      position: relative;
      &:focus {
        outline: none;
      }
    }
  }
}
