@import "card.scss";
@import "taskbar.scss";
@import "treeView.scss";
@import "branch.scss";
@import "modal.scss";

$header-height: 60px;
$footer-height: 30px;
$color: #004dbb;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
.app__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app__header {
  background-color: $color;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: $header-height;
}
.app__footer {
  background-color: $color;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}
.app__content {
  background-color: whitesmoke;
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(#{$header-height} + 20px);
  padding-bottom: calc(#{$footer-height} + 20px);
  overflow: auto;
  margin-inline: 10%;
  
  &--tree{min-width: 860px};
}

.app__success-message {
  position: fixed;
  top: calc(#{$header-height} + 10px);
  background-color: #76ce79;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  animation: slideDown 1s forwards ease-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
