@import "card.scss";
@import "taskbar.scss";
@import "treeView.scss";
@import "branch.scss";
@import "fullSizeItem.scss";

$header-height: 60px;
$footer-height: 30px;
$color: #004dbb;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
.app__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app__header {
  background-color: $color;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: $header-height;
}
.app__footer {
  background-color: $color;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}
.app__content {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: calc(#{$header-height} + 20px);
  padding-bottom: calc(#{$footer-height} + 20px);
  overflow: auto;
}
.app__alert{
  position:fixed;
  top:70px;
}