$smallscreen: 600px;
.taskbar {
  margin-block: 10px;
  display: grid;
  border-bottom: dashed 3px #004DBB40;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  @media screen and (max-width: $smallscreen) {
    grid-template-columns: 2fr;
  }
  &__switch {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3;
    &--treeview {
      grid-column: 3;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:20px;  
  }
}
