@import '@styles/animation.scss';
@import '@styles/text.scss';
.alert {
  position: fixed;
  top: var(--header-height);
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  animation: slide_in 4s forwards;
  padding: 15px;
  opacity: 1;
  z-index: 200;
  border-radius: 0 5px 5px 0;
  &__message {
    @include uppercase;
    font-weight: 1000;
    margin: 0;
    padding-right: 20px;
    &_good {
      color: var(--success-color);
      border-right: solid 5px;
    }
    &_bad {
      color: var(--failed-color);
      border-right: solid 5px;
    }
  }
  &_download {
    top: 150px;
    color: var(--text-main-color);
  }
}
