@import '@styles/animation.scss';
@import '@styles/text.scss';
.alert {
  @include uppercase;
  font-weight: 300 !important;
  position: fixed;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
  z-index: 200;
  border: 2px solid;
  // text-shadow: 1px 1px;
  color: var(--border-color);
  opacity: 0;
  &__message {
    &_good {
      color: var(--success-color);
    }
    &_bad {
      color: var(--failed-color);
    }
  }
  &_download {
    color: var(--border-color);
  }
  &_slide_in {
    top: 15px;
    left: 50%;
    animation: slide_in 2s forwards;
  }
}
