@import '@styles/animation.scss';
@import '@styles/text.scss';
.alert {
  @include uppercase;
  position: fixed;
  top: 30px;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  animation: slide_in 2s forwards;
  padding: 5px;
  opacity: 1;
  z-index: 200;
  border-radius: 0 5px 5px 0;
  border-right: solid 5px;
  padding-left: 20px;
  &__message {
    &_good {
      color: var(--success-color);
      border-right: solid 5px;
    }
    &_bad {
      color: var(--failed-color);
      border-right: solid 5px;
    }
  }
  &_download {
    color: var(--text-main-color);
    border-right: solid 5px;
  }
}
