@import '../node_modules/normalize.css/normalize.css';
@import './styles/pallete.scss';
@import './styles/sizing.scss';

body {
  background-color: var(--background-color);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background-color);
}
