@import '@styles/text.scss';
.chat_panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: calc(var(--header-height));
  bottom: calc(var(--footer-height) + 2px);
  width: 0;
  z-index: 90;
  background-color: var(--background-color);
  transition: 0.5s;
  opacity: 0;
  border: 2px solid var(--content-color);
  &_open {
    opacity: 1;
    width: 600px;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  &__label {
    @include uppercase;
    padding: 20px;
    width: 100%;
    border-block-end: 1px solid var(--border-color);
  }
  &__task_bar {
    padding: 20px;
    display: flex;
    gap: 20px;
  }
  &__search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    input {
      color: var(--border-color);
      border-radius: 10px;
      border: 1px solid var(--border-color);
      padding-inline: 15px;
      padding-block: 5px;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
  }
  svg {
    &:hover {
      color: var(--border-color);
      cursor: pointer;
    }
  }
  &__search_result {
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    width: 92%;
    margin-inline: auto;
    background-color: var(--border-color);
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 100%;
  }
  &__text {
    &_target_chat {
      font-size: 1.2em;
      color: var(--border-color);
      overflow: hidden;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
