.sign_in_form {
  &__label_sign_in {
    text-align: center !important;
  }
  &__password {
    position: relative;
  }
  &__visibility-icon {
    position: absolute;
    right: 10px;
    top: 25%;
    transform: 'translateY(-50%)';
    cursor: pointer;
    width: max-content;
    height: 100%;
  }
}
