@import '@styles/text.scss';
@import '@styles/animation.scss';
.chat_person_label {
  font-size: 1.2em;
  cursor: pointer;
  width: 92%;
  background-color: var(--content-color);
  padding: 5px 0 0 10px;
  height: 50px;
  margin: auto;
  display: flexbox;
  border-radius: 15px;
  margin-bottom: 20px;
  &_new {
    font-size: 1em;
    cursor: pointer;
    width: 92%;
    margin-inline: auto;
    background-color: var(--border-color);
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    padding-block: 10px;
    animation: chat_box 0.5s forwards;
  }
  &__text {
    &_name {
      display: inline-block;
      max-width: 70%;
      overflow: hidden;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--border-color);
      &_new {
        color: white;
      }
    }
    &_email {
      color: var(--border-color);
      display: inline-block;
      max-width: 70%;
      overflow: hidden;
      font-weight: 200;
      font-size: 0.8em;
      padding-left: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      &_new {
        color: white;
      }
    }
    &_last_message {
      display: flex;
      width: 95%;
      font-weight: 200;
      justify-content: space-between;
      &_content {
        font-style: italic;
        font-size: 0.8em;
      }
      &_date {
        float: right;
        font-size: 0.7em;
      }
    }
  }
}
