@import '@styles/animation.scss';

.loading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  &_large {
    --size-loading: 50px;
  }
  &_medium {
    --size-loading: 30px;
  }
  &_small {
    --size-loading: 10px;
  }
  &_spin {
    width: var(--size-loading);
    height: var(--size-loading);
    border-radius: 50px;
    border: 5px solid;
    border-color: var(--border-color) transparent var(--border-color)
      transparent;
    animation: rotate 1s ease infinite;
  }
  &_text {
    text-transform: uppercase;
    color: var(--border-color);
  }
}
