@import '@styles/text.scss';
@import '@styles/animation.scss';
.chat-person-label {
  box-sizing: border-box;
  font-size: 1.2em;
  cursor: pointer;
  width: 100%;
  background-color: var(--background-color);
  height: 80px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 10px;

  &:hover {
    background-color: var(--hover-color);
  }
  &_new {
    box-sizing: border-box;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    margin-inline: auto;
    background-color: var(--border-color);
    padding: 5px;
    text-align: center;
    padding-block: 10px;
    animation: chat_box 0.5s forwards;
    &:hover {
      background-color: var(--message-color);
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
  }
  &__text {
    &_date {
      font-weight: 4 00;
      flex-grow: 1;
      width: 40%;
      font-size: 0.7em;
      text-align: end;
      padding-right: 5px;
      margin-top: 5px;
    }
    &_name {
      width: max-content;
      overflow: hidden;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--border-color);
      &_new {
        color: white;
      }
    }
    &_email {
      color: var(--border-color);
      display: inline-block;
      overflow: hidden;
      font-weight: 200;
      font-size: 0.8em;
      text-overflow: ellipsis;
      white-space: nowrap;
      &_new {
        color: white;
      }
    }
  }
  &__last-message {
    display: flex;
    width: 100%;
    font-weight: 200;
    justify-content: space-between;
    flex-direction: column;
    &_content {
      font-style: italic;
      font-size: 0.8em;
      max-width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
