@import '@styles/text.scss';
@import '@styles/animation.scss';
.chat_person_label {
  box-sizing: border-box;
  font-size: 1.2em;
  cursor: pointer;
  width: 100%;
  background-color: var(--background-color);
  padding: 5px 0 0 10px;
  height: 70px;
  margin: auto;
  display: flex;
  flex-direction: column;
  // grid-template-columns: 3fr 1fr;
  &:hover {
    background-color: var(--hover-color);
  }
  &_new {
    box-sizing: border-box;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    margin-inline: auto;
    background-color: var(--border-color);
    padding: 5px;
    text-align: center;
    padding-block: 10px;
    animation: chat_box 0.5s forwards;
    &:hover {
      background-color: var(--message-color);
    }
  }
  &__info {
    display: flex;
  }
  &__text {
    &_name {
      display: inline-block;
      max-width: 80%;
      overflow: hidden;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--border-color);
      &_new {
        color: white;
      }
    }
    &_email {
      color: var(--border-color);
      display: inline-block;
      max-width: 70%;
      overflow: hidden;
      font-weight: 200;
      font-size: 0.8em;
      padding-left: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      &_new {
        color: white;
      }
    }
    &_last_message {
      display: flex;
      width: 95%;
      font-weight: 200;
      justify-content: space-between;
      &_content {
        font-style: italic;
        font-size: 0.8em;
        max-width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &_date {
        float: right;
        font-size: 0.7em;
      }
    }
  }
}
