$smallscreen: 700px;
.taskbar {
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 30px;
  display: grid;
  border-bottom: solid 3px #004dbb;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  @media screen and (max-width: $smallscreen) {
    grid-template-columns: 1fr;
  }
  &__switch {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;

    @media screen and (max-width: $smallscreen) {
      grid-template-columns: 1fr;
      grid-column: 1;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    &--row{
      display: flex;
      justify-content: center;
      flex-direction:  row;
      align-items: center;
    }
  }
  &__itemSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
  }
  &--treeView{
    display:flex;
    justify-content: center;
  }
}
