$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1280px;
@import '../../styles/animation.scss';
.taskbar {
  box-sizing: border-box;
  color: var(--text-main-color);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  @media screen and (max-width: $small-screen) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    grid-template-columns: 1fr 1fr;
  }

  &__switch {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
  }
  &__selectors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    color: var(--text-main-color) !important;
    label,
    li,
    input,
    fieldset,
    div,
    svg {
      color: var(--text-main-color) !important;
    }
    border-inline: var(--text-main-color) 1px solid;
  }

  &_tree_view {
    display: flex;
    justify-content: center;
  }
  &__center_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    color: var(--text-main-color) !important;
    @media screen and (max-width: $small-screen) {
      grid-column: 1;
    }
    @media screen and (min-width: $small-screen) and (max-width: $medium-screen) {
      grid-column: 2;
    }
  }
  &__dark_mode_button {
    &_clicked {
      animation: rotate 0.5s normal linear;
    }
  }
}
