.taskbar {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  @media screen and (max-width: map-get($screen,"small")) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: map-get($screen,"small")) and (max-width: map-get($screen,"medium")) {
    grid-template-columns: 1fr 1fr;
  }

  &__switch {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    @media screen and (max-width: map-get($screen,"small")) {
      grid-column: 1;
    }
    @media screen and (min-width: map-get($screen,"small")) and (max-width: map-get($screen,"medium")) {
      grid-column: 2;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
  }
  &__selectors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
  }
  &_tree_view {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}
