$smallscreen: 700px;
.taskbar {
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  @media screen and (max-width: $smallscreen) {
    grid-template-columns: 1fr;
  }
  &__switch {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    @media screen and (max-width: $smallscreen) {
      grid-template-columns: 1fr;
      grid-column: 1;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
  }
  &__selectors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
  }
  &_tree_view{
    display:flex;
    justify-content: center;
  }
}
