.card_view {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__pagination {
    margin-top: 3%;
    button {
      color: var(--text-main-color);
    }
  }
}
