$color-itemborder: #0706004d;
.leaf {
  width: 100%;
  margin-block: 10px;
  display: flex;
  gap: 5%;
  position: relative;
  border: $color-itemborder solid 2px;
  border-radius: 12px;
  overflow: hidden;
  animation: expandBox 0.2s ease;
  &__thumpnail {
    height: 50px;
    width: 100px;
    object-fit: "cover";
  }
  &__info{
    width: 70%;
    display: flex;
    gap: 5%;
    @media screen and (max-width: 850px){
    flex-direction: column;
  }
  }
  &__image{
    @media screen and (max-width: 500px){
      display: none;
    }
  }
}