$small-screen: 768px;
.leaf {
  width: 100%;
  height: 40px;
  margin-block: 5px;
  display: flex;
  gap: 10px;
  position: relative;
  border: var(--border-color) solid 1px;
  border-radius: 2px;
  transition: 0.5s;
  overflow: hidden;
  &__thumpnail {
    height: 40px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
  }
  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  &__info {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    @media screen and (max-width: $small-screen) {
      display: none;
    }
  }
}
