.modal {
  position: fixed;
  background-color: var(--dark-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 105;
  width: 100%;
  height: 100%;
  &__content_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__close_button {
    color: var(--text-main-color);
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--dark-color);
    position: absolute;
    right: -50px;
    top: -50px;
    border: 2px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      border: 2px dashed var(--failed-color);
      color: var(--failed-color);
    }
    @media screen and (max-width: 800px) {
      top: -70px;
      right: 45%;
    }
  }
  img {
    border: 5px var(--background-color) solid;
  }
}
