@import '../../styles/text.scss';
.header {
  @include uppercase;
  background-color: var(--background-color);
  color: var(--text-main-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: var(--header-height);
  display: flex;
  &__title {
    margin: auto;
  }
}
