@import '@styles/text.scss';
.header {
  @include uppercase;
  font-weight: 900;
  background-color: var(--background-color);
  color: var(--text-main-color);
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 400px;
  z-index: 1;
  height: var(--header-height);
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  &__title {
  }
  &__button {
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
