@keyframes slide_in {
  0% {
    transform: translateX(-30px);
  }
  30% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes open_box {
  0% {
    max-height: 200px;
  }
  50% {
    max-height: 1000px;
  }
  60% {
    max-height: 1300px;
  }
  70% {
    max-height: 1500px;
  }
  90% {
    max-height: 2000px;
  }
  100% {
    max-height: auto;
  }
}
