:root {
  --main-color: #004dbb;
  --content-color: #f3f8fc;
  --secondary-color: #fff;
  --success-color: #38c73c;
  --failed-color: #ff0000;
  --border-color: #00b0b0;
  --dark-color: #f5f5f520;
  --dark2-color: #07060090;
}
