@import '../../styles/text.scss';
.footer {
  @include uppercase;
  background-color: var(--background-color);
  color: var(--text-main-color);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--main-color) 2px solid;
}
